@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap') repeat scroll 0 0 rgba(0, 0, 0 , 0);


body {
  background: rgb(121 25 25);
}

.title {
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
  
  
}

.wrapper {
  animation: scroll 70s linear infinite;
  background: url(./Pictures/background.png), #111111;
  color: rgb(121, 25, 25);
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  
}

@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  
}


.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}

.social-container{
  background-color:white;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  margin-top:1rem;
  right: 0;
  position: absolute;
    top: 90%;
    right: 0%;

}

img{
  border-radius:20px;
  

}